services:

  authservice:
    build:
      context: .
      dockerfile: .docker/Dockerfile.auth
    container_name: authservice
    ports:
      - "8081:8081"   
    restart: unless-stopped

  productservice:
    build:
      context: .
      dockerfile: .docker/Dockerfile.product
    container_name: productservice
    ports:
      - "8086:8086"
    restart: unless-stopped


  orderservice:
    build:
      context: .
      dockerfile: .docker/Dockerfile.order
    container_name: orderservice
    ports:
      - "8082:8082"   
    restart: unless-stopped

  frontend:
    build:
      context: .
      dockerfile: .docker/Dockerfile.front
    container_name: frontend
    ports:
       - "4200:4200"
    restart: unless-stopped

  gateway:
    build:
      context: .
      dockerfile: .docker/Dockerfile.gateway
    container_name: gateway
    ports:
      - "8080:8080"
    depends_on:
      - authservice
      - orderservice

    restart: unless-stopped

  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: rabbitmq
    ports:
      - "5672:5672"     # Porta do AMQP (apps usam essa)
      - "15672:15672"   # Painel web de administração
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    restart: unless-stopped

volumes:
  rabbitmq_data:
